In [77]:
import json
import pylab

In [3]:
path ='bitly_usagov/example.txt'

In [4]:
records = [json.loads(line) for line in open(path)]

In [5]:
print(records[0]['tz'])

America/New_York

In [9]:
time_zones = [rec['tz'] for rec in records if 'tz' in rec]

In [10]:
time_zones[:10]

['America/New_York',
 'America/Denver',
 'America/New_York',
 'America/Sao_Paulo',
 'America/New_York',
 'America/New_York',
 'Europe/Warsaw',
 '',
 '',
 '']

In [12]:
from collections import defaultdict

In [15]:
def get_count(seq):
    counts = defaultdict(int)
    for x in seq:
        counts[x]+=1
    return counts

In [21]:
counts = get_count(time_zones)

In [24]:
#counts['America/New_York']

In [18]:
len(time_zones)

3440

In [32]:
def top_counts(count_dict,n=10):
    value_key_pairs = [(count,tz) for count,tz in count_dict.items()]
    value_key_pairs.sort()
    return value_key_pairs[:n]

In [33]:
top_counts(counts)

[('', 521),
 ('Africa/Cairo', 3),
 ('Africa/Casablanca', 1),
 ('Africa/Ceuta', 2),
 ('Africa/Johannesburg', 1),
 ('Africa/Lusaka', 1),
 ('America/Anchorage', 5),
 ('America/Argentina/Buenos_Aires', 1),
 ('America/Argentina/Cordoba', 1),
 ('America/Argentina/Mendoza', 1)]

In [34]:
from pandas import DataFrame,Series

In [54]:
import pandas as pd
import numpy as np

In [60]:
frame = DataFrame(records)
frame.head()

,_heartbeat_,a,al,c,cy,g,gr,h,hc,hh,kw,l,ll,nk,r,t,tz,u
0,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Danvers,A6qOVH,MA,wfLQtf,1.331823e+09,1.usa.gov,NaN,orofrog,"[42.576698, -70.954903]",1.0,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,1.331923e+09,America/New_York,http://www.ncbi.nlm.nih.gov/pubmed/22415991
1,NaN,GoogleMaps/RochesterNY,NaN,US,Provo,mwszkS,UT,mwszkS,1.308262e+09,j.mp,NaN,bitly,"[40.218102, -111.613297]",0.0,http://www.AwareMap.com/,1.331923e+09,America/Denver,http://www.monroecounty.gov/etc/911/rss.php
2,NaN,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,en-US,US,Washington,xxr3Qb,DC,xxr3Qb,1.331920e+09,1.usa.gov,NaN,bitly,"[38.9007, -77.043098]",1.0,http://t.co/03elZC4Q,1.331923e+09,America/New_York,http://boxer.senate.gov/en/press/releases/0316...
3,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,pt-br,BR,Braz,zCaLwp,27,zUtuOu,1.331923e+09,1.usa.gov,NaN,alelex88,"[-23.549999, -46.616699]",0.0,direct,1.331923e+09,America/Sao_Paulo,http://apod.nasa.gov/apod/ap120312.html
4,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Shrewsbury,9b6kNl,MA,9b6kNl,1.273672e+09,bit.ly,NaN,bitly,"[42.286499, -71.714699]",0.0,http://www.shrewsbury-ma.gov/selco/,1.331923e+09,America/New_York,http://www.shrewsbury-ma.gov/egov/gallery/1341...

In [38]:
frame['tz'][:10]

0     America/New_York
1       America/Denver
2     America/New_York
3    America/Sao_Paulo
4     America/New_York
5     America/New_York
6        Europe/Warsaw
7
8
9
Name: tz, dtype: object

In [43]:
frame['tz'][:10].value_counts()

America/New_York     4
                     3
America/Denver       1
Europe/Warsaw        1
America/Sao_Paulo    1
Name: tz, dtype: int64

In [44]:
clean_tz = frame['tz'].fillna('Missing')

In [45]:
clean_tz[clean_tz == '' ] = 'Unknown'

In [46]:
tz_counts = clean_tz.value_counts()

In [47]:
tz_counts[:10]

America/New_York       1251
Unknown                 521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Missing                 120
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
Name: tz, dtype: int64

In [55]:
tz_counts[:10].plot(kind='barh',rot=0)

In [56]:
results = Series([x.split()[0] for x in frame.a.dropna()])

In [57]:
results[:10]

0               Mozilla/5.0
1    GoogleMaps/RochesterNY
2               Mozilla/4.0
3               Mozilla/5.0
4               Mozilla/5.0
5               Mozilla/5.0
6               Mozilla/5.0
7               Mozilla/5.0
8                Opera/9.80
9               Mozilla/5.0
dtype: object

In [58]:
results.value_counts()

Mozilla/5.0                                          2594
Mozilla/4.0                                           601
GoogleMaps/RochesterNY                                121
Opera/9.80                                             34
TEST_INTERNET_AGENT                                    24
GoogleProducer                                         21
Mozilla/6.0                                             5
BlackBerry8520/5.0.0.681                                4
Dalvik/1.4.0                                            3
BlackBerry8520/5.0.0.592                                3
Goldfire                                                2
Socialite/7766                                          2
BlackBerry9630/5.0.0.975                                2
Acoon                                                   2
ICE                                                     1
Opera/9.30                                              1
Opera/9.50                                              1
Opera/9.64(Windows                                      1
SAMSUNG-SGH-A887/A887UCIJ1                              1
LG-LG220C[TF268435458416597116000000013524223841]       1
Opera/9.00                                              1
Nokia6790s-1b/ATT.03.22                                 1
BlackBerry8530/5.0.0.654                                1
BlackBerry9700/5.0.0.862                                1
Vodafone/1.0/LG-KU990i/V10c                             1
LG-GW382f/V10d                                          1
BlackBerry9300/5.0.0.997                                1
Vancouver                                               1
HTTP_Request2/2.0.0                                     1
Mozilla/0.6                                             1
NokiaC3-00/5.0                                          1
BlackBerry9700/5.0.0.423                                1
BlackBerry9530/5.0.0.328                                1
sometrik.com                                            1
MOT-MB525/Blur_Version.34.4.709.MB525.Latam.en.01       1
BlackBerry8520/5.0.0.1067                               1
dtype: int64

In [61]:
cframe = frame[frame.a.notnull()]

In [64]:
operating_system = np.where(cframe['a'].str.contains('Windows'),'Windows','Not Windows')

In [65]:
operating_system[:5]

array(['Windows', 'Not Windows', 'Windows', 'Not Windows', 'Windows'],
      dtype='<U11')

In [66]:
by_tz_os = cframe.groupby(['tz',operating_system])

In [69]:
agg_counts = by_tz_os.size().unstack().fillna(0)

In [70]:
agg_counts[:10]

                                Not Windows  Windows
tz
                                      245.0    276.0
Africa/Cairo                            0.0      3.0
Africa/Casablanca                       0.0      1.0
Africa/Ceuta                            0.0      2.0
Africa/Johannesburg                     0.0      1.0
Africa/Lusaka                           0.0      1.0
America/Anchorage                       4.0      1.0
America/Argentina/Buenos_Aires          1.0      0.0
America/Argentina/Cordoba               0.0      1.0
America/Argentina/Mendoza               0.0      1.0

In [71]:
indexer = agg_counts.sum(1).argsort()

In [72]:
indexer[:10]

tz
                                  24
Africa/Cairo                      20
Africa/Casablanca                 21
Africa/Ceuta                      92
Africa/Johannesburg               87
Africa/Lusaka                     53
America/Anchorage                 54
America/Argentina/Buenos_Aires    57
America/Argentina/Cordoba         26
America/Argentina/Mendoza         55
dtype: int64

In [73]:
count_subset = agg_counts.take(indexer)[-10:]

In [74]:
count_subset

                     Not Windows  Windows
tz
America/Sao_Paulo           13.0     20.0
Europe/Madrid               16.0     19.0
Pacific/Honolulu             0.0     36.0
Asia/Tokyo                   2.0     35.0
Europe/London               43.0     31.0
America/Denver             132.0     59.0
America/Los_Angeles        130.0    252.0
America/Chicago            115.0    285.0
                           245.0    276.0
America/New_York           339.0    912.0

In [75]:
normed_subset = count_subset.div(count_subset.sum(1),axis=0)

In [78]:
normed_subset.plot(kind='barh',stacked=True)